<mat-progress-bar *ngIf="isloading" class="progress-bar" mode="indeterminate"></mat-progress-bar>
<div *ngIf="!authService.isAuthenticated()">
  <login-form (isAuth)="isAuth($event)"></login-form>
</div>
<div *ngIf="authService.isAuthenticated()" [ngClass]="uiContent" role="main">
  <mat-sidenav-container class="app-container" autosize fullscreen>
    <mat-sidenav-content class="sidenav-content">
      <mat-toolbar dark style="background-color:#016fbf">
        <span style="margin-left: 20px;width:100%; font-size: 14px; color: #ffffff;">
          {{dealerName}}

        </span>
        <span style="float:right; font-size: 14px;  color: #ffffff;">
          {{userName}}
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon style="padding-right: 3px;">account_circle</mat-icon>

          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">Logout</button>
            <button mat-menu-item>Change Password</button>
          </mat-menu>
        </span>
      </mat-toolbar>
      <div class="main-content">
        <img style="margin-left: 1%;" src="../../assets/img/menu.PNG">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>