<mat-card class='light' style="height: 100%;">
  <mat-card-header>
    <mat-card-title class="view-card-title">
      <span style="margin-right:10px; color:#016fbf">{{pageTitle }}</span>
    </mat-card-title>
  </mat-card-header>
  <div *ngIf="isTicketDetailLoading" style="display: flex; justify-content: center; align-items: center; background: white;">
    <mat-progress-spinner color="primary" mode="indeterminate" diameter="50"> </mat-progress-spinner>
  </div>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab style="color:#016fbf" >
        <ng-template mat-tab-label style="color:#016fbf" >
          <mat-icon>dehaze</mat-icon>
          Details
        </ng-template>
        <br/>
        <mat-form-field appearance="outline" floatLabel="always" style="width: 7%;">
          <mat-label class="ticket-label">Incident Number</mat-label>
          <input matInput [(ngModel)]="ticket.incident" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always" style="width: 20%;">
          <mat-label class="ticket-label">Dealer</mat-label>
          <input matInput [(ngModel)]="ticket.dealerName" disabled>
        </mat-form-field>
        
        <mat-form-field appearance="outline" floatLabel="always" style="width: 15%;">
          <mat-label class="ticket-label">Created By</mat-label>
          <input matInput [(ngModel)]="ticket.userId" disabled>
        </mat-form-field>
        

        <mat-form-field appearance="outline" floatLabel="always"  style="width: 15%;">
          <mat-label class="ticket-label">Open Date</mat-label>
          <input matInput [(ngModel)]="ticket.openDate" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always" style="width: 15%;">
          <mat-label class="ticket-label">Last Modification Date</mat-label>
          <input matInput [(ngModel)]="ticket.lastModificationDate" disabled>
        </mat-form-field>

        

        <mat-form-field appearance="outline" floatLabel="always" style="width: 20%;">
          <mat-label class="ticket-label">Status</mat-label>
          <input matInput [(ngModel)]="ticket.status" disabled>
        </mat-form-field>
        <br/>

        <mat-form-field appearance="outline" floatLabel="always" style="width: 20%;">
          <mat-label class="ticket-label">Category</mat-label>
          <input matInput [(ngModel)]="ticket.category" disabled>
        </mat-form-field>

        <br/>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label class="ticket-label">Summary</mat-label>
          <input matInput  [(ngModel)]="ticket.summary" style="width:750px;" disabled> 
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline" style="width: 90%;">
          <mat-label class="ticket-label">Description</mat-label>
          <textarea matInput rows="12"  [(ngModel)]="ticket.description" disabled> </textarea>
        </mat-form-field>

      </mat-tab>
      <mat-tab  style="color:#016fbf">
        <ng-template mat-tab-label style="color:#016fbf" >
          <mat-icon>history</mat-icon>
          Activity Logs
        </ng-template>
        <table mat-table [dataSource]="logdataSource" class="mat-elevation-z8">
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="9999">
              No logs found
            </td>
          </tr>
          <mat-header-row *matHeaderRowDef="displayedLogColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedLogColumns;"></mat-row>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description</th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
          <ng-container matColumnDef="createdBy">
            <th mat-header-cell *matHeaderCellDef> Created By </th>
            <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
          </ng-container>
          <ng-container matColumnDef="createdOn">
            <th mat-header-cell *matHeaderCellDef> Created On </th>
            <td mat-cell *matCellDef="let element"> {{element.createdOn}} </td>
          </ng-container>

        </table>
      </mat-tab>
      <mat-tab style="color:#016fbf" >
        <ng-template mat-tab-label style="color:#016fbf" >
          <mat-icon>attach_file</mat-icon>
          Attachments 
        </ng-template>
       <mat-card >
          <table mat-table [dataSource]="attachmentDataSource" style="width:90%;">
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="100">
                No attachments found
              </td>
            </tr>
            <mat-header-row *matHeaderRowDef="displayedAttachmentColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedAttachmentColumns;"></mat-row>
            <ng-container matColumnDef="docName">
              <th mat-header-cell *matHeaderCellDef> Document Name</th>
              <td mat-cell *matCellDef="let element"> {{element.docName}} </td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
            <ng-container matColumnDef="attachedBy">
              <th mat-header-cell *matHeaderCellDef> Attached By </th>
              <td mat-cell *matCellDef="let element"> {{element.attachedBy}} </td>
            </ng-container>
            <ng-container matColumnDef="attachedTimeStamp">
              <th mat-header-cell *matHeaderCellDef> Attached On </th>
              <td mat-cell *matCellDef="let element"> {{element.attachedTimeStamp}} </td>
            </ng-container>
          </table>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
    <button mat-raised-button style="color:#ffffff; background-color:darkgreen; margin:5px;" [routerLink]="['/tickets']">
      Back
    </button>
  </mat-card-content>
</mat-card>