table {
    width: 100%;
  }
  .mat-header-cell {
    color: steelblue !important;
    font-size: 12px;;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .element-row td {
    border-bottom-width: 0;
  }
  
  .element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .element-description {
    padding: 16px;
  }
  
  .element-description-attribution {
    opacity: 0.5;
  }
  .title-spacer {
    flex: 0.5 1 auto;
  }
  .example-section {
    font-size: 12px;
    margin: 5px 50;
  }
  .table-row {
    height: 10px !important;
    color: darkslategrey;
    padding: 2px 2px 2px 0;
  }
  .mat-column-summary {
    flex: 0 0 20% !important;
    width: 20% !important;
  }
  .mat-column-priority {
    flex: 0 0 10% !important;
    width: 10% !important;
  }
  .mat-column-incident {
    flex: 0 0 10% !important;
    width: 10% !important;
  }
  .mat-column-dealer {
    flex: 0 0 20% !important;
    width: 20% !important;
  }
  .mat-checkbox{
    padding-right:6px;
  }
  .label-medium{
    font-size:14px;
    color: darkslategrey;
  }
  .label-color {
    color:darkslategray;
  }
  .mat-row:nth-child(even){
    background-color: rgba(255, 255, 255, 0.836);
}
        
.mat-row:nth-child(odd){
    background-color: rgb(231, 234, 236);
}