<mat-card class='light' style="height: 100%;">
  <mat-card-header>
    <mat-card-title class="view-card-title">
      <h1 style="margin-right:10px; color:#016fbf">{{pageTitle }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="outline" floatLabel="always" style="width: 25%;margin-right: 15px;">
      <mat-label class="ticket-label">Category</mat-label>
      <mat-select [(ngModel)]="newTicket.category" required>
        <mat-option value="General CAS">General CAS</mat-option>
        <mat-option value="EContracting">EContracting</mat-option>
        <mat-option value="MaximTrak">MaximTrak</mat-option>
        <mat-option value="FS Integration">FS Integration</mat-option>
        <mat-option value="Credit And Compliance">Credit And Compliance</mat-option>
        <mat-option value="Remote Signing">Remote Signing</mat-option>
        <mat-option value="Reporting">Reporting</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" style="width: 25%;margin-right: 15px;">
      <mat-label class="ticket-label">Dealer</mat-label>
      <input matInput [(ngModel)]="newTicket.dealerName" disabled>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" style="width: 25%;margin-right: 15px;">
      <mat-label class="ticket-label">Created By</mat-label>
      <input matInput [(ngModel)]="newTicket.createdBy" disabled>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline" floatLabel="always" style="width:25%;margin-right: 15px;">
      <mat-label class="ticket-label">DMS</mat-label>
      <input matInput [(ngModel)]="newTicket.dms">
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" style="width:25%;margin-right: 15px;">
      <mat-label class="ticket-label">Finance Source</mat-label>
      <input matInput [(ngModel)]="newTicket.fs">
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline" floatLabel="always" style="width:25%;margin-right: 15px;">
      <mat-label class="ticket-label">Deal Number</mat-label>
      <input matInput [(ngModel)]="newTicket.dealNumber">
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always" style="width:25%;margin-right: 15px;">
      <mat-label class="ticket-label">Contract Conversation ID</mat-label>
      <input matInput [(ngModel)]="newTicket.conversationId">
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always" style="width:25%;margin-right: 15px;">
      <mat-label class="ticket-label">Credit Application Conversation ID</mat-label>
      <input matInput [(ngModel)]="newTicket.creditappConversationId">
    </mat-form-field>

    <br />
    <mat-form-field appearance="outline" floatLabel="always" style="width:50%">
      <mat-label class="ticket-label">Summary</mat-label>
      <input matInput [(ngModel)]="newTicket.summary" required />
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline" floatLabel="always" style="width: 100%;">
      <mat-label class="ticket-label">Description</mat-label>
      <textarea matInput rows="5" cols="2000" [(ngModel)]="newTicket.description" required> </textarea>
    </mat-form-field>
    <br />


    <div class="container">

    </div>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Incident Attachments
          </mat-panel-title>
          <mat-panel-description>
            <button mat-raised-button style="margin-left:80%; background-color:#00893d; color:#ffffff"
              [routerLink]="['/tickets/new']">Add Attachment</button>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- <p>View Attachments</p> -->
      </mat-expansion-panel>
    </mat-accordion>
 


    
    <mat-action-list>
      <button mat-raised-button style="color:lightgrey; background-color:darkgreen; margin:5px;">Save
      </button>
      <button mat-raised-button style="color:lightgrey; background-color:darkred;margin:5px;">Cancel
      </button>
    </mat-action-list>

</mat-card-content>
</mat-card>